<div class="container">
<div class="row">
  <div class="col-6">
    <div class="card mt-5">
      <div class="card-header">
        <h3>Searh Account</h3>
      </div>

      <div class="card-body">
        <form  [formGroup]="accountFormGroup" (ngSubmit)="hadleSearchAccount()" >

          <div class="input-group">
            <label class="input-group-text">Account :</label>
            <input type="text" formControlName="accountId" class="form-control">
            <button class="btn btn-primary"><i class="bi bi-search"></i> Search</button>

          </div>


        </form>

        <ng-template #error_template>
          <ng-container *ngIf="errorMessage ; else loading">
            <div class="alert alert-danger">
              <h5>{{errorMessage}}</h5>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #loading>

          <ng-container>
            <div>
              Londing...
            </div>
          </ng-container>

        </ng-template>

          <ng-container  *ngIf="accountDetail | async as accountDetails;else error_template">
            <div class="mt-5">
              <label>Acoount ID :</label>
              <label><strong>{{accountDetails.accountId}}</strong></label>
            </div>

            <div class="">
              <label>Balance:</label>
              <label><strong>{{accountDetails.balance | number : '1.2-2'}}</strong></label>
            </div>

            <div class="mb-3">
              <table class="table table-bordered">
                <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Type</th>
                <th>Montant</th>
                </thead>

                <tbody>
                <tr *ngFor="let op of accountDetails.accountOperationDTOS ">

                  <td>{{op.id}}</td>
                  <td>{{op.operationDate | date : 'dd-MM-yyyy:HH-mm-ss' }}</td>
                  <td>{{op.operationType}}</td>
                  <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                </tr>
                </tbody>


                <ul class="nav nav-pills">
                  <li *ngFor="let item of [].constructor(accountDetails.totalPages) ; let page =index">

                    <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="geoToPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
                  </li>
                </ul>

              </table>
            </div>
          </ng-container>


      </div>
    </div>
  </div>

  <div class="col-6" *ngIf="loginService.roles.includes('ADMIN')">

    <div class="card mt-5" *ngIf="accountDetail">
      <div class="card-header">
        <h3>OPERATIONS</h3>
      </div>

      <div class="card-body">
        <form [formGroup]="operationsFormGroup"  (ngSubmit)="handleSaveOperation()" method="post">

          <div class="form-check form-check-inline">
            <input type="radio" formControlName="operationType" value="DEBIT" class="form-check-input" required>
            <label class="form-check-label">DEBIT</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="radio" formControlName="operationType" value="CREDIT" class="form-check-input" required>
            <label class="form-check-label">CREDIT</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" formControlName="operationType" value="TRANSFER" class="form-check-input" required>
            <label class="form-check-label">TRANSFER</label>
          </div>

          <div class="mt-3" *ngIf="operationsFormGroup.value.operationType=='TRANSFER'">
            <label class="form-label">Account Destination</label>
            <input type="text" formControlName="accountDest" class="form-control">

          </div>

          <div class="mt-3">
            <label class="form-label">Amount </label>
            <input type="text" formControlName="operationAmount" class="form-control">
          </div>

          <div class="mt-3">
            <label class="form-label">Description </label>
            <input type="text" formControlName="description" class="form-control">
          </div>



          <div class="d-grid mt-3">
            <button class="btn btn-info">Save</button>
          </div>



        </form>
      </div>
    </div>

  </div>
</div>
</div>
